.button {
    overflow: visible;

    margin: 0;
    padding: 0;

    text-decoration: none;

    border: none;
    outline: none;

    background: none;
    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}
